<section class='container d-flex justify-content-center'>

  <!-- Images -->
  <div class='col-6 align-items-center align-self-center'>
    <img class="celPhone" width='437' src="../../assets/images/celular.png" alt="Foto de dois celulares">
  </div>

  <!-- Form -->
  <div class='formLogin col-6 py-5 px-4 border-none'>
    <div class="d-flex justify-content-center">  
      <img      
      width='195' src="../../assets/images/Instagram_logo.png"
      alt="Logo do instagram"
      style="filter: invert(); filter: brightness(100)" >
    </div>

    <div class="input-group my-3">
      <input
      required
      type="text"
      class="form-control bg-transparent text-light"
      placeholder="Nome de usuário, email ou telefone"
      aria-label="Nome de usuário, email ou telefone"
      aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <input
      required
      type="password"
      class="form-control bg-transparent text-light"
      placeholder="Senha"
      aria-label="Senha"
      aria-describedby="basic-addon1">
    </div>      

    <button type="button" class="btn btn-loginRegister col-12">Entrar</button>

    <p class="text-light mt-2 text-center">ou</p>

    <button type="button" class="btn btn-facebook col-12 align-self-center">Entrar com Facebook
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </svg>
    </button>

    <div class='links d-flex mt-1 justify-content-between text-light'>
      <a class="text-decoration-underline text-light" href="#">Esqueci minha senha</a>
      <p class="text-light">Não tem conta?<a class="text-decoration-underline text-light" href="/register"> Cadastre-se</a></p>
    </div>

    <div class="border-top my-4"></div>

    <div>
        <p class="text-light text-center">Baixe o aplicativo</p>
    </div>
      
    <div class="d-flex justify-content-center">
      <a href="#"><img src="../../assets/images/appstore.png" alt="Ícone para baixar applicativo na app store"></a>
      <a href="#"><img src="../../assets/images/googleplay.png" alt="Ícone para baixar applicativo no google store"></a>
    </div>

  </div>
</section>