<section class='container d-flex justify-content-center'>

  <!-- Images -->
  <section class='col-6 align-items-center align-self-center'>
    <img class="celPhone" width='437' src="../../assets/images/celular.png" alt="Foto de dois celulares">
  </section>

  <!-- Form -->
  <section class='formLogin col-6 py-5 px-4 border-none'>
    <div class="d-flex justify-content-center">  
      <img      
      width='195' src="../../assets/images/Instagram_logo.png"
      alt="Logo do instagram"
      style="filter: invert(); filter: brightness(100)" >
    </div>

    <button type="button" class="btn btn-facebook col-12 align-middle mt-3">Entrar com Facebook
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </svg>
    </button>

    <p class="text-light mt-2 text-center">ou</p>

    <div class="input-group my-1 mb-3">
      <input type="text" class="form-control bg-transparent" placeholder="Número de celular ou email" aria-label="Número de celular ou email" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control bg-transparent" placeholder="Nome completo" aria-label="Nome completo" aria-describedby="basic-addon1">
    </div> 

    <div class="input-group mb-3">
      <input type="text" class="form-control bg-transparent" placeholder="Nome de usuário" aria-label="Nome de usuário" aria-describedby="basic-addon1">
    </div>  

    <div class="input-group mb-3">
      <input type="password" class="form-control bg-transparent" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1">
    </div>      

    <button type="button" class="btn btn-loginRegister col-12" disabled>CADASTRAR</button>    
    
    <div>
        <p class="text-light text-center mt-2">Ao se cadastrar, você concorda com nossos Termos, 
          Política de Dados e Políticas de Cookies. </p>
    </div>

  </section>
</section>